@import "../vendor/variables";

.card {
  color: white;
  background-color: $dark-desaturated-blue;
  border-radius: $border-radius;
  overflow: hidden;
}

.card-content {
  margin: 4rem 0;

  p {
    margin: 2rem;
    font-family: $ff-inter;
    font-weight: 400;
  }
}
